<h1>Listing mixes</h1>

<table>
  <tr>
    <th>Url1</th>
    <th>Url2</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mixes.each do |mix| %>
  <tr>
    <td><%= mix.url1 %></td>
    <td><%= mix.url2 %></td>
    <td><%= link_to 'Show', mix %></td>
    <td><%= link_to 'Edit', edit_mix_path(mix) %></td>
    <td><%= link_to 'Destroy', mix, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mix', new_mix_path %>
